
/*Start GENERAL*/

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
  background: #efe4df url(https://img3.goodfon.ru/wallpaper/big/f/15/tekstura-tekstury-fon-linii.jpg) repeat 0 0;
  background-size: cover;
  background-attachment: fixed;
}

img{
  display: block;
  width: 100%;
}

h1 {
    display: block;
    font-size: 32px;
    margin-block-start: 10.7px;
    margin-block-end: 10.7px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    margin-top: 8px;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #efe4df url(https://img3.goodfon.ru/wallpaper/big/f/15/tekstura-tekstury-fon-linii.jpg) repeat 0 0;
  background-size: cover;
  z-index: 1001;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  margin-top: -32px;
  margin-left: -32px;
  background: url('../img/loader.gif') no-repeat 50% 50%;
}

.loaded_hiding .preloader {
  transition: 1s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.main-wrap{
  width: 980px;
  margin: 0 auto;
  display: flex;
}

/*End GENERAL*/


/*Start HEADER*/

.menu {
  display: flex;
  width: 980px;
  height: 50px;
  background: #5c5f72;
  color: #ffffff;
  margin: 0 auto;
  position: fixed;
  z-index:999;
}

.menu a {
  transition-duration: 0.5s;
  text-decoration: none;
  color: #fff;
}
.menu li a {
  display: block;
  padding: 13px 40px;
}

.menu>a:hover {
  color: #282a34;
}

.menu .fa-home{
  width:300px;
  font-size:50px;
  text-align: center;
}

.menu ul {
  display: flex;
  width: 100%;
}

.menu ul li {
  display: inline-block;
  list-style-type: none;
  margin: auto;
  font-size: 20px;
  transition-duration: 0.5s;
}
.menu ul:first-child a {
  padding: 13px 31px;
}

.menu li:hover {
    background-color: #282a34;
}
/*End HEADER*/

/*Start LEFT-SIDE */

.left-side{
  width: 300px;
  padding-top:30px;
  padding-left:30px;
  background-color:#282a34;
  color:#fff;
}

.photo{
  margin-top:20px;
  margin-left:-30px;
}
.left-side__title{
  padding-top:30px;
  padding-bottom:10px;
  font-size:24px;
  font-weight:bold;
  
}

.phone, .mail{
  margin-top: 10px;
}

.contacts i{
  color:#fff;
}
.phone a{
  margin-bottom:10px;
  text-decoration:none;
}
.phone a, .mail a{
  color:#dbd9ed;
  text-decoration:none;
}
.contacts, .skills{
  padding-top:10px;
}
.skills ul{
  padding-left:15px;
}
.skills ul li{
  font-size:20px;
  padding-left:14px;
  margin-top: 5px;
}

.skills ul li ul li{
  font-size:20px;
  padding-left:14px;
  margin-bottom: 5px;
}

.skills ul li::marker{
  color:#dbd9ed;
}

/*End LEFT-SIDE*/

/*Start RIGHT-SIDE*/
.right-side {
    width: 680px;
    background-color: #F3EAF3;
    background-image: url(../img/bg.png);
    background-size: cover;
    padding-left: 60px;
    padding-top: 90px;
    padding-right: 60px;
    padding-bottom: 70px;
    text-align: justify;
}

.portfolio ol {
  transition-duration: 0.5s;
}

.portfolio ol {
  margin-left: 0px;
}

.portfolio li {
    font-size: 16px;
    list-style-type: none;
    display: inline-block;
    border-radius: 20px;
    margin: 7.5px 0;
}
.portfolio li, .portfolio li:nth-child(2n):hover{
  background-image: linear-gradient(145deg, #282a34, #5c5f72);
}

.portfolio li:hover, .portfolio li:nth-child(2n) {
  background-image: linear-gradient(145deg, #5c5f72, #282a34);
}

.portfolio li:active, .portfolio li:nth-child(2n):active {
  background-color: #5c5f72;
  background-image: none;
  box-shadow: inset 2px 2px 5px #282a34;
}

.portfolio li a{
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 10px 30px;
}

.portfolio ol li::marker {
    font-weight: bold;
}

.experience{
  margin-bottom: 20px;
}

.experience .list ul {
  margin-left: 17px;
}

.experience .list ul li {
  margin-top: 10px;
}

::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;

}
.subheading {
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.pre-subheading{
  margin-top: -10px;
}

.subheading-content {
    font-weight: bold;
    font-size: 15px;
}
.grey-article {
    color: #5c5f72;
}
.date-article {
    font-size: 10px;
    color: grey;
}
/*End RIGHT-SIDE*/


/*Start FOOTER*/
.footer {
    text-align: center;
    width: 980px;
    color: white;
    padding: 10px;
    background: #5c5f72;
    margin: auto;
}

.footer .social {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 30px;
}

.footer .social a {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    transition-duration: 0.3s;
}

.footer .social a:hover {
    color: #282a34;
}

.footer span {
  font-size: 10px;
}

/*End FOOTER*/

/*Start SCROLL*/
.scroll-to-top {
  display: none;
  position: fixed;
  height: 80px;
  width: 80px;
  right: 90px;
  bottom: 10px;
  background-image: url(../img/arrow-up.png);
  background-size: cover;
  cursor: pointer;
}
div>.scroll-to-top{
  transition-duration: 0.5s;
}

.scroll-to-top:hover {
  background-image: url(../img/arrow-up-hover.png);
}

.scroll-to-top:active {
  background-image: url(../img/arrow-up.png);
}
/*End SCROLL*/


/* Start Laboratory works styles*/
.right-side-lab{
  width: 1300px;
  background: #fff;
  padding-top: 70px;
  padding-bottom: 90px;
  padding-left: 90px;
  padding-right: 90px;
}

.right-side-lab ul,ol,dd{
  margin-left: 17px;
}

.right-side-lab ul li ,ol li,dt,dd{
  margin-top: 17px;
  margin-bottom: 17px;
}

.tag-lab-main{ 
  margin-bottom: 20px;
  margin-top: 0px;
  font-size: 40px;
  text-align: center;
}

.tag-lab{
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 30px;
}
/* End Laboratory works styles*/

/* Laboratory work 2*/
.entities{
  font-size: 16px;
}

/* Laboratory work 3*/
.section-lab3{
  border: 1px solid grey;
  padding: 10px;
  width: 800px;
}

.section-lab3 p{
  margin-top: 10px;
}

.white-cat{
  width: 700px;
}

.lab3-jastin{
  font-size: 20px;
  color: green;
}

.lab3-signature{
  background: red;
  color: white;
}
.lab3-figure{
  border: 2px solid black;
  width: 714px;
  margin-top: 10px;
  padding: 5px;
}

.lab-menu{
  margin: -17px;
  margin-top: 10px;
}
.lab-menu a{
  text-decoration: none;
  color: white;
}

.lab-menu ul{
  margin-top: 10px;
  background-color: #5c5f72;
  border:1px solid #dbd9ed;
  width: 200px;
  padding: 0;
}
.lab-menu li{
  padding: 5px;
  border-bottom:1px solid #dbd9ed;
  list-style-type: none;
}

.lab-menu li:last-child{
  border-bottom: none;
}

.lab-menu a:hover{
  text-decoration: underline;
}

/* Laboratory work 4*/
/*task 1*/
.lab4-myblock{
    font-family: Arial, sans-serif;
    width: 400px;
    height: 200px;
    border: 3px solid black;
    border-radius: 4px;
    margin: 0 0 0 200px;
}
.lab4-lemon {
    width: 180px;
    height: 180px;
    margin: 10px;
    background: url(https://cdn4.iconfinder.com/data/icons/Limon_iContainer/512/Grapefruit.png);
    background-size: contain;
    background-position: 50%;
    border-radius: 5xp;
    float: left;
}
.lab4-about-lemon h3 {
    text-align: center;
    padding: 10px 0;
}
.lab4-about-lemon p {
    font-size: 12px;
    line-height: 150%;
    margin: 20px 0;
}


/*task 2*/
.lab4-wrap {
    font-family: 'Exo 2', sans-serif;
    width: 380px;
    margin: 20px auto;
    border: 1px solid #c0c0c0;
    padding: 20px;
    border-radius: 4px;
}

.lab4-h1 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.lab4-img {
    width: 300px;
    display: block;
    margin: 20px auto;
    border-radius: 300px;
    box-shadow: 0px 0px 10px #454545;
}
.lab4-p {
    font-size: 13px;
    line-height: 150%;
    margin: 5px 0px;
    padding: 5px;
}
.lab4-info {
    border-bottom: 1px solid #c0c0c0;
    padding: 10px;
    text-align: center;
}
.lab4-side {
    font-weight: 700;
    width: 180px;
    display: inline-block;
}
.lab4-p:nth-child(2n) {
    background: #ececec;
}

/*task 3*/

.lab4-ul li {
  margin: 0 0 0 350px;
  font-family: sans-serif;
}

.lab4-ul li:first-child::marker {
  content: '\2660   ';
}

.lab4-ul li:nth-child(2)::marker {
  content: '\2663   ';
}

.lab4-ul li:nth-child(3)::marker {
  content: '\2666   ';
  color: red;
}

.lab4-ul li:last-child::marker {
  content: '\2665   ';
  color: red;
}

/*task 4*/
.lab4-pre{
  background: #5c5f72;
  color: white;
  width: 450px;
  border: 1px solid black;
  border-radius: 20px;
  margin: 0 0 0 200px;
}

/*task 5*/
.lab4-links {
  width: 240px;
  background: #F6967D;
  margin: 0 0 0 300px;
}
.lab4-links a {
  color: #FFFDEB;
  display: inline-block;
  border-right: 1px solid #B62025;
  padding: 5px 10px;
}
.lab4-links a:last-child {
  border-right: none;
}

/*task 6*/
.lab-h1-line {
  display: inline-block;
  border-right: 350px solid black;
  border-left: 350px solid black;
  line-height: 5px;
  font-size:34px;
  font-family: 'times new roman';
}

/*task 7*/
.lab4-div {
  border: 4px solid #000;
  margin-bottom: 10px;
  margin-left: 320px;
  width: 158px;
  height: 58px; 
  position: relative;
}
.red-battery::before {
  background-color: red;
  width: 50px;
}
.yellow-battery::before {
  background-color: yellow;
  width: 100px;
}
.green-battery::before {
  background-color: green;
  width: 150px;
}
.lab4-div::before, .lab4-div::after {
  height: 50px;
  content: '';
  position: absolute;
}
.lab4-div::after {
  width: 10px;
  height: 20px;
  background: #000;
  right: -10px; 
  top: 15px;
}
/* END Laboratory work 4*/

/* Laboratory work 5*/

/*task 1*/
.lab5-task1-main-block {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  border-radius: 20px;
  position: relative;
  margin: auto;
}
.lab5-task1-main-block>* {
  position: absolute;
}
.lab5-house {
  width: 150px;
  height: 150px;
  background: coral;
  bottom: 0px;
  left: 75px;
}
.lab5-roof {
  width: 0;
  height: 0;
  border-left: 110px solid transparent;
  border-right: 110px solid transparent;
  border-bottom: 100px solid red;
  top: 50px;
  left: 40px;
}
.lab5-chimney {
  width: 20px;
  height: 60px;
  background: black;
  right: 110px;
  top: 50px;
}
.lab5-door {
  width: 60px;
  height: 90px;
  background: brown;
  left: 90px;
  bottom: 0px;
}
.lab5-window {
  width: 40px;
  height: 40px;
  background: cyan;
  bottom: 40px;
  right: 90px;
}
/* END task 1*/

/*task 2*/
.lab5-task2-main {
  position: relative;
  background-color: #81ccc7;
  width: 500px;
  height: 400px;
  margin: auto;

}
.lab5-task2-main>img {
    position: absolute;
}
.lab5-clouds {
  top: 10px;
  right: -50px;
  height: 30%;
}
.lab5-world {
  bottom: 0;
  left: 0;
}
.lab5-water {
  bottom: 0px;
}
.lab5-ship {
  bottom: 25px;
  left: 20px;
  width: 20%;
  height: 30%;
}
/*END task 2*/

/*task 3*/
.lab5-border{
    border: 1px solid black;
}
.lab5-task3-fullwrap {
  position: relative;
  width: 600px;
  height: 700px;
  padding: 10px;
  margin: auto;
}
.lab5-task3-header {
  height: 100px;
  margin-bottom: 10px;
}
.lab5-task3-wrap {
  height: 400px;
  padding: 10px;
}
.lab5-task3-main, .lab5-task3-sidebar {
  height: 100%;
  display: inline-block;
}
.lab5-task3-main {
  width: 325px;
  margin-right: 5px;
}
.lab5-task3-sidebar {
  width: 220px;
}
.lab5-task3-footer {
  height: 155px;
  margin-top: 10px;
}
/*END task 3*/

/*task 4*/
.lab5-task4-main-wrap {
  position: relative;
}

.lab5-task4-position, .lab5-task4-float {
  width: 205px;
  height: 320px;
  border: 3px solid #5f9d9f;
  display: inline-block;
  border-radius: 10px;
}

.lab5-task4-float {
  margin-left:180px;
  margin-right:20px;
}
.lab5-task4-casio {
  display: block;
  height: 30px;
  width: 200px;
  margin-top:10px;
  font-size: 14px;
  background-color: #5f9d9f;
  color: #FFF;
  text-align: right;
  padding-top: 5px;
  padding-right: 5px;
  font-weight: bold;
}
.lab5-task4-input {
  height: 30px;
  width: 185px;
  display: block;
  margin: 5px auto 5px;
  border: 3px solid #5f9d9f;
  border-radius: 5px;
  outline:none;
  text-align: right;
  color: #5f9d9f;
  font-size: 20px;
  font-family: Arial;
}
.lab5-task4-space{
  height: 30px;
  width: 80px;
  float: left;
  margin-bottom: 12px;
}
.lab5-task4-rectangle {
  height: 30px;
  width: 75px;
  background-color: #5f9d9f;
  margin-bottom: 12px;
}
.lab5-task4-float .lab5-task4-rectangle {
  float: right;
  margin-right: 11px;
}
.lab5-task4-key {
  width: 40px;
  height: 40px;
  border: 3px solid #5f9d9f;
  border-radius: 10px;
  color: #5f9d9f;
  text-align: center;
  line-height: 2.5;
  font-size: 15px;
  font-family: Arial;
  float: left;
  margin: 0 0 8px 8px;
}
.lab5-task4-key:hover {
  background-color: #5f9d9f;
  color: #fff;
}
.lab5-task4-key:active {
  background-color: #737e9f;
  color: #fff;
  border-color: #737e9f;
}
.lab5-task4-position .lab5-task4-rectangle {
  position: absolute;
  right: 200px;
  top: 83px;
}
.lab5-task4-position .lab5-task4-input {
  margin-bottom: 47px;
}
/*END task 4*/

/* END Laboratory work 5*/

/*Laboratory work 6*/

/*task 1*/

.lab6-task1-main {
  width: 500px;
  margin: auto;
  border: 1px solid #666;
  padding-bottom: 10px;
  font-family: Verdana, Tahoma, sans-serif;
}

.lab6-task1-main-img {
  width: 100%;
}

.lab6-task1-h2 {
  text-align:  center;
  margin: 20px;
}

.lab6-task1-p {
  margin-top: 0;
  font-size: 14px;
  line-height: 17px;
  margin: 10px;
  text-indent: 15px;
}

.lab6-task1-it {
  font-style: italic;
  color: brown;
}
/*END task 1*/

/*task 2*/
.lab6-task2-wrap {
  font-family: Arial;
  width: 700px;
  margin: 10px auto;
}

.lab6-task2-main-img {
  width: 100%;
  margin: 20px 0;
}

.lab6-task2-h1 {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid #333;
  padding-bottom: 30px;
}

.lab6-task2-p {
  margin: 20px 0;
  text-indent: 30px;
}

.lab6-task2-second-img {
  width: 35%;
  float: right;
  margin: 30px 0 30px 30px;
}

.lab6-task2-footer {
  background-color: cadetblue;
  text-align: center;
  padding: 30px;
  color: #fff;
}
/*END task 2*/

/*task 3*/
.lab6-task3-wrap {
  width: 800px;
  height: 120px;
  padding-top: 30px;
  background-image: url("../img//body-bg.png");
}
.lab6-task3-img,
.lab6-task3-hotbar{
  width: 700px;
}

.lab6-task3-img {
  margin: auto;
  height: 50px;
}

.lab6-task3-hotbar {
  display: flex;
  position: relative;
  overflow: hidden;
  left: 34px;
}

.lab6-task3-hotbar li {
  background-color: #eff3f4;
  margin-right: 3px;
  list-style: none;
}

.lab6-task3-hotbar button {
  padding: 5px 10px;
  outline: none;
  border: none;
  font-size: 11px;
}

.lab6-task3-hotbar button:focus,
.lab6-task3-hotbar button:focus::after {
  background-color: #c1d1d6;
}

.lab6-task3-hotbar button:focus::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1.5px;
  top: 38px;
}
/*END task 3*/

/*task 4*/
.lab6-task4-wrap {
  width: 800px;
  height: 400px;
  background: linear-gradient(152deg, rgba(37,30,32,1) 0%, rgba(68,56,54,1) 100%);
  padding: 20px 50px 30px 40px;
  font-family: "Times New Roman";
  text-align: center;
}

.lab6-task4-content {
  width: 710px;
  height: 300px;
}

.lab6-task4-left {
  position: relative;
  width: 255px;
  background-image: url('../img/burger.jpg');
  background-size: contain;
  float: left;
}

.lab6-task4-left, .lab6-task4-right{
  height: inherit;
}

.lab6-task4-advert {
  position: absolute;
  width: 270px;
  height: 150px;
  bottom: 25px;
  right: 5px;
  background-color: #000;
  padding-top: 15px;
  color: #FFF;
}
.lab6-task4-advert h1 {
  font-size: 30px;
  line-height: .75;
}

.lab6-task4-advert-price {
  font-family: Arial;
  font-size: 8px;
}
.lab6-task4-advert h1, .lab6-task4-advert-price{
  font-weight: bold;
}

.lab6-task4-advert-price span {
  color: #f5c539;
}

.lab6-task4-right {
  width: 455px;
  background-color: #FFF;
  float: right;
}

.lab6-task4-right h2 {
  font-size: 16px;
  font-weight: normal;
  padding-top: 25px;
}

.lab6-task4-pricelist {
  padding-top: 15px;
  padding-left: 35px;
  list-style: none;
}

.lab6-task4-pricelist li {
  position: relative;
  float: left;
  width: 150px;
  font-size: 14px;
  padding-bottom: 5px;
  border-bottom: 1px solid #d5d5d5;
}

.lab6-task4-pricelist div {
  color: grey;
  font-family: Arial;
  font-size: 11px;
}

.lab6-task4-pricelist li:nth-child(2n) {
  margin-left: 50px;
}

.lab6-task4-pricelist li::before {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  background-color: #d5d5d5;
  transform: rotate(45deg);
  bottom: -3.5px;
  left: 75px;
}

.lab6-task4-wrap  button{
  margin-top: 5px;
  height: 50px;
  width: 150px;
  float: right;
  background-color: #000;
  color: #fff;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: bold;
}


.lab6-task4-wrap button:hover {
  color: #000000;
  background-color: #fff;
}

.lab6-task4-wrap button:active {
  background-color: grey;
}
/*END task 4*/

/*END Laboratory work 6*/

/*Laboratory work 7*/
.lab7-wrap {
  position: relative;
  height: 450px;
  width: 798px;
  border: 1px solid lightgrey;
  margin-top: 50px;
  display: flex;
  font-family: Arial;
}

.lab7-wrap-good {
  position: relative;
  height: inherit;
  width: 100%;
  border-right: 1px solid lightgrey;
  padding: 0 16px;
}

.lab7-wrap-good:last-child {
  border-right: none;
}

.lab7-wrap-good div:first-child {
  position: absolute;
  right: 10px;
  top: -30px;
  border-radius: 50%;
  border: 3px solid #FFF;
  width: 58px;
  height: 58px;
  color: #FFF;
  font-size: 9px;
  text-align: center;
}

.lab7-sticker-new {
  background-color: #86b022;
  padding-top: 22px;
}

.lab7-sticker-hit {
  background-color: #009de1;
  padding-top: 16px;
}

.lab7-category {
  display: block;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid lightgrey;
  color: grey;
  padding: 33px 0;
  margin-bottom: 16px;
}

.lab7-wrap-good img {
  max-width: 90%;
  max-height: 130px;
  display: block;
  margin: auto;
  width: auto;
}

.lab7-name {
  position: absolute;
  bottom: 150px;
  left:50%;
  transform: translate(-50%);
  text-align: center;
  text-decoration: none;
  color: #4289fc;
  font-weight: bold;
}

.lab7-wrap-good p {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 110px;
  font-size: 13px;
}

.lab7-number {
  font-weight: bold;
  font-size: 14px;
}

.lab7-crossed {
  padding-right: 5px;
  text-decoration: line-through;
  font-size: 10px;
  font-weight: bold;
}

.lab7-wrap-good button {
  position: absolute;
  left:50%;
  transform:translate(-50%);
  bottom: 40px;
  width: 140px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  border: none;
  outline: none;
  font-weight: bold;
}

.lab7-wrap-good .lab7-clickable {
  background-color: yellow;
  color: #000;
}

.lab7-wrap-good .lab7-clickable:hover {
  background-color: #4289fc;
  color: white;
}


.lab7-not-clickable {
  background-color: #cc3399;
  color: #FFF;
}


.lab7-arrow {
  position: absolute;
  height: 37px;
  width: 37px;
  border-radius: 50%;
  border: 2px solid lightgrey;
  top: 67px;
  background-color: #FFF;
  padding-top: 8px;
  color: lightgrey;
  cursor: pointer;
}

 .lab7-arrow-left {
   padding-left: 7px;
   left: -18px;
 }

 .lab7-arrow-right {
   padding-left: 10px;
   right: -18px;
 }
/*END Laboratory work 7*/
