*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
  background: #efe4df url(https://img3.goodfon.ru/wallpaper/big/f/15/tekstura-tekstury-fon-linii.jpg) repeat 0 0;
}

.menu {
  display: flex;
  width: 980px;
  padding: 10px;
  background: #5c5f72;
  color: #ffffff;
  margin: auto;
}
.menu nav ul{
  margin-left: 100px;
}
.menu nav a {
  text-decoration: none;
  color: #fff;
}

.menu nav a:hover {
  text-decoration: none;
  color: #dbd9ed;
}

.menu nav ul {
  display: flex;
}

.menu nav ul li {
  list-style-type: none;
  margin-left: 85px;
  font-size: 20px;
}


img{
  display: block;
  width: 100%;
}

.main-wrap{
  width: 980px;
  margin: 0 auto;
  display: flex;
}

/*----- Start of LEFT-SIDE styles ------*/
.left-side{
  width: 300px;
  padding-top:30px;
  padding-left:30px;
  background-color:#282a34;
  color:#fff;
}
.photo{
  margin-left:-30px;
}
.left-side__title{
  padding-top:30px;
  padding-bottom:10px;
  font-size:1.5em;
  font-weight:bold;
  
}

.phone, .mail{
  margin-top: 10px;
}

.contacts i{
  color:#fff;
}
.phone a{
  margin-bottom:10px;
  text-decoration:none;
}
.phone a, .mail a{
  color:#dbd9ed;
  text-decoration:none;
}
.contacts, .skills{
  padding-top:10px;
}
.skills ul{
  padding-left:15px;
}
.skills ul li{
  font-size:20px;
  padding-left:14px;
  margin-top: 5px;
}

.skills ul li ul li{
  font-size:20px;
  padding-left:14px;
  margin-bottom: 5px;
}

.skills ul li::marker{
  color:#dbd9ed;
}

/*----- End of LEFT-SIDE styles ------*/
.right-side {
    width: 680px;
    background: #fff;
    padding-left: 60px;
    padding-top: 70px;
    padding-right: 60px;
    padding-bottom: 70px;
    text-align: justify;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
p {
    margin-top: 0.5em;
}

.experience .list ul {
  margin-left: 17px;
}

.experience .list ul li {
  margin-top: 10px;
}

.portfolio li {
    font-size: 1em;
}

.portfolio li a{
  text-decoration: none;
  color: #000000;
}

.list li {
    display: list-item;
}
.list ol {
    list-style-type: decimal;

}
.portfolio ol li::marker {
    font-weight: bold;
}

.experience{
  margin-bottom: 20px;
}

::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;

}
.subheading {
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.pre-subheading{
  margin-top: -10px;
}

.subheading-content {
    font-weight: bold;
    font-size: 15px;
}
.grey-article {
    color: #5c5f72;
}
.date-article {
    font-size: 10px;
    color: grey;
}

.footer {
    text-align: center;
    width: 980px;
    color: rgb(255, 255, 255);
    padding: 10px;
    background: #5c5f72;
    margin: auto;
}
.facebook a{
    display: inline-block;
    width: 4%;
} 

/* Laboratory work 2*/
.right-side-lab{
  width: 1300px;
  background: #fff;
  padding-top: 70px;
  padding-bottom: 90px;
  padding-left: 90px;
  padding-right: 90px;
}

.right-side-lab ul,ol,dd{
  margin-left: 17px;
}

.right-side-lab ul li ,ol li,dt,dd{
  margin-top: 17px;
  margin-bottom: 17px;
}

.tag-lab-main{ 
  margin-bottom: 20px;
  margin-top: 0px;
  font-size: 40px;
  text-align: center;
}

.tag-lab{
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 30px;
}

.entities{
  font-size: 16px;
}

/* Laboratory work 3*/
.section-lab3{
  border: 1px solid grey;
  padding: 10px;
  width: 800px;
}

.section-lab3 p{
  margin-top: 10px;
}

.white-cat{
  width: 700px;
}

.lab3-jastin{
  font-size: 20px;
  color: green;
}

.lab3-signature{
  background: red;
  color: white;
}
.lab3-figure{
  border: 2px solid black;
  width: 714px;
  margin-top: 10px;
  padding: 5px;
}

.lab-menu{
  margin: -17px;
  margin-top: 10px;
}
.lab-menu a{
  text-decoration: none;
  color: white;
}

.lab-menu ul{
  margin-top: 10px;
  background-color: #5c5f72;
  border:1px solid #dbd9ed;
  width: 200px;
  padding: 0;
}
.lab-menu li{
  padding: 5px;
  border-bottom:1px solid #dbd9ed;
  list-style-type: none;
}

.lab-menu li:last-child{
  border-bottom: none;
}

.lab-menu a:hover{
  text-decoration: underline;
}

/* Laboratory work 4*/
/*task 1*/
.lab4-myblock{
    font-family: Arial, sans-serif;
    width: 400px;
    height: 200px;
    border: 3px solid black;
    border-radius: 4px;
    margin: 0 0 0 200px;
}
.lab4-lemon {
    width: 180px;
    height: 180px;
    margin: 10px;
    background: url(https://cdn4.iconfinder.com/data/icons/Limon_iContainer/512/Grapefruit.png);
    background-size: contain;
    background-position: 50%;
    border-radius: 5xp;
    float: left;
}
.lab4-about-lemon h3 {
    text-align: center;
    padding: 10px 0;
}
.lab4-about-lemon p {
    font-size: 12px;
    line-height: 150%;
    margin: 20px 0;
}


/*task 2*/
.lab4-wrap {
    font-family: 'Exo 2', sans-serif;
    width: 380px;
    margin: 20px auto;
    border: 1px solid #c0c0c0;
    padding: 20px;
    border-radius: 4px;
}

.lab4-h1 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.lab4-img {
    width: 300px;
    display: block;
    margin: 20px auto;
    border-radius: 300px;
    box-shadow: 0px 0px 10px #454545;
}
.lab4-p {
    font-size: 13px;
    line-height: 150%;
    margin: 5px 0px;
    padding: 5px;
}
.lab4-info {
    border-bottom: 1px solid #c0c0c0;
    padding: 10px;
    text-align: center;
}
.lab4-side {
    font-weight: 700;
    width: 180px;
    display: inline-block;
}
.lab4-p:nth-child(2n) {
    background: #ececec;
}

/*task 3*/

.lab4-ul li {
  margin: 0 0 0 350px;
  font-family: sans-serif;
}

.lab4-ul li:first-child::marker {
  content: '\2660   ';
}

.lab4-ul li:nth-child(2)::marker {
  content: '\2663   ';
}

.lab4-ul li:nth-child(3)::marker {
  content: '\2666   ';
  color: red;
}

.lab4-ul li:last-child::marker {
  content: '\2665   ';
  color: red;
}

/*task 4*/
.lab4-pre{
  background: #5c5f72;
  color: white;
  width: 450px;
  border: 1px solid black;
  border-radius: 20px;
  margin: 0 0 0 200px;
}

/*task 5*/
.lab4-links {
  width: 240px;
  background: #F6967D;
  margin: 0 0 0 300px;
}
.lab4-links a {
  color: #FFFDEB;
  display: inline-block;
  border-right: 1px solid #B62025;
  padding: 5px 10px;
}
.lab4-links a:last-child {
  border-right: none;
}

/*task 6*/
.lab-h1-line {
  display: inline-block;
  border-right: 350px solid black;
  border-left: 350px solid black;
  line-height: 5px;
  font-size:34px;
  font-family: 'times new roman';
}

/*task 7*/
.lab4-div {
  border: 4px solid #000;
  margin-bottom: 10px;
  margin-left: 320px;
  width: 158px;
  height: 58px; 
  position: relative;
}
.red-battery::before {
  background-color: red;
  width: 50px;
}
.yellow-battery::before {
  background-color: yellow;
  width: 100px;
}
.green-battery::before {
  background-color: green;
  width: 150px;
}
.lab4-div::before, .lab4-div::after {
  height: 50px;
  content: '';
  position: absolute;
}
.lab4-div::after {
  width: 10px;
  height: 20px;
  background: #000;
  right: -10px; 
  top: 15px;
}
/* END Laboratory work 4*/

/* Laboratory work 5*/

/*task 1*/
.lab5-task1-main-block {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  border-radius: 20px;
  position: relative;
  margin: auto;
}
.lab5-task1-main-block>* {
  position: absolute;
}
.lab5-house {
  width: 150px;
  height: 150px;
  background: coral;
  bottom: 0px;
  left: 75px;
}
.lab5-roof {
  width: 0;
  height: 0;
  border-left: 110px solid transparent;
  border-right: 110px solid transparent;
  border-bottom: 100px solid red;
  top: 50px;
  left: 40px;
}
.lab5-chimney {
  width: 20px;
  height: 60px;
  background: black;
  right: 110px;
  top: 50px;
}
.lab5-door {
  width: 60px;
  height: 90px;
  background: brown;
  left: 90px;
  bottom: 0px;
}
.lab5-window {
  width: 40px;
  height: 40px;
  background: cyan;
  bottom: 40px;
  right: 90px;
}
/* END task 1*/

/*task 2*/
.lab5-task2-main {
  position: relative;
  background-color: #81ccc7;
  width: 500px;
  height: 400px;
  margin: auto;

}
.lab5-task2-main>img {
    position: absolute;
}
.lab5-clouds {
  top: 10px;
  right: -50px;
  height: 30%;
}
.lab5-world {
  bottom: 0;
  left: 0;
}
.lab5-water {
  bottom: 0px;
}
.lab5-ship {
  bottom: 25px;
  left: 20px;
  width: 20%;
  height: 30%;
}
/*END task 2*/

/*task 3*/
.lab5-border{
    border: 1px solid black;
}
.lab5-task3-fullwrap {
  position: relative;
  width: 600px;
  height: 700px;
  padding: 10px;
  margin: auto;
}
.lab5-task3-header {
  height: 100px;
  margin-bottom: 10px;
}
.lab5-task3-wrap {
  height: 400px;
  padding: 10px;
}
.lab5-task3-main, .lab5-task3-sidebar {
  height: 100%;
  display: inline-block;
}
.lab5-task3-main {
  width: 325px;
  margin-right: 5px;
}
.lab5-task3-sidebar {
  width: 220px;
}
.lab5-task3-footer {
  height: 155px;
  margin-top: 10px;
}
/*END task 3*/

/*task 4*/
.lab5-task4-main-wrap {
  position: relative;
}

.lab5-task4-position, .lab5-task4-float {
  width: 205px;
  height: 320px;
  border: 3px solid #5f9d9f;
  display: inline-block;
  border-radius: 10px;
}

.lab5-task4-float {
  margin-left:180px;
  margin-right:20px;
}
.lab5-task4-casio {
  display: block;
  height: 30px;
  width: 200px;
  margin-top:10px;
  font-size: 14px;
  background-color: #5f9d9f;
  color: #FFF;
  text-align: right;
  padding-top: 5px;
  padding-right: 5px;
  font-weight: bold;
}
.lab5-task4-input {
  height: 30px;
  width: 185px;
  display: block;
  margin: 5px auto 5px;
  border: 3px solid #5f9d9f;
  border-radius: 5px;
  outline:none;
  text-align: right;
  color: #5f9d9f;
  font-size: 20px;
  font-family: Arial;
}
.lab5-task4-space{
  height: 30px;
  width: 80px;
  float: left;
  margin-bottom: 12px;
}
.lab5-task4-rectangle {
  height: 30px;
  width: 75px;
  background-color: #5f9d9f;
  margin-bottom: 12px;
}
.lab5-task4-float .lab5-task4-rectangle {
  float: right;
  margin-right: 11px;
}
.lab5-task4-key {
  width: 40px;
  height: 40px;
  border: 3px solid #5f9d9f;
  border-radius: 10px;
  color: #5f9d9f;
  text-align: center;
  line-height: 2.5;
  font-size: 15px;
  font-family: Arial;
  float: left;
  margin: 0 0 8px 8px;
}
.lab5-task4-key:hover {
  background-color: #5f9d9f;
  color: #fff;
}
.lab5-task4-key:active {
  background-color: #737e9f;
  color: #fff;
  border-color: #737e9f;
}
.lab5-task4-position .lab5-task4-rectangle {
  position: absolute;
  right: 200px;
  top: 83px;
}
.lab5-task4-position .lab5-task4-input {
  margin-bottom: 47px;
}
/*END task 4*/

/* END Laboratory work 5*/

/*Laboratory work 6*/

/*task 1*/

.lab6-task1-main {
  width: 500px;
  margin: auto;
  border: 1px solid #666;
  padding-bottom: 10px;
  font-family: Verdana, Tahoma, sans-serif;
}

.lab6-task1-main-img {
  width: 100%;
}

.lab6-task1-h2 {
  text-align:  center;
  margin: 20px;
}

.lab6-task1-p {
  margin-top: 0;
  font-size: 14px;
  line-height: 17px;
  margin: 10px;
  text-indent: 15px;
}

.lab6-task1-it {
  font-style: italic;
  color: brown;
}
/*END task 1*/

/*task 2*/
/*END task 2*/

/*task 3*/
/*END task 3*/

/*task 4*/
/*END task 4*/

/*END Laboratory work 6*/
